.paginationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 50%;
    margin: 0 auto;
}

.paginationList {
    display: flex;
    column-gap: 1vw;
    flex-wrap: nowrap;
    max-width: 100%;
    height: 3vh;
    padding: 1vh;
    overflow: scroll;
    list-style: none;
}

.paginationBtn {
    padding: 4px 6px;
    text-decoration: none;
    border-radius: 50px;
	color: #001858;
}

.currentPage {
	background-color: #f582ae40;
	border: 2px solid #f582ae;
}

.positionBtn {
    background-color: #001858;
	border-radius: 50px;
    border: none;
    cursor: pointer;
    padding: 4px 12px;
}

.prevNextBtn {
    padding: 4px 12px;
	background-color: #f582ae;
	color: #001858;
	font-weight: 600;
	border-radius: 50px;
    border: none;
    cursor: pointer;
	text-decoration: none;
	transition: all 200ms ease;
}

.prevNextBtn:hover {
	background-color: #D9507D;
}
